// Specific CSS for your home-page
@import "../components/globals";

$navbarHeight: $searchBoxHeight + 4rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  // background: white;
  color: black;
 }

 .banner {
  // position: relative;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.banner a {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #BABABA;
  transition: background 0.3s ease;
  text-decoration: none;
}

.banner a:hover {
  background: #BABABA;
  color: white;
}

strong {
  color: white;
}

.container {
  margin-top: $navbarHeight;
}

.searchBox {
  position: absolute;
  top: 50%;
  left: 20%;
  transform:  translate(-50%,50%);
  background: #2f3640;
  height: 50px;
  border-radius: 50px;
  padding: 10px;

}

.searchBox:hover > .searchInput {
  width: 250px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: #fff;
  color : #2f3640;
  }

.searchButton {
  align-items: center;
  text-align: center;
  color: yellow;
  float: right;
  width: 50px;
  height: 50px;
  margin: -9px;
  padding: 10px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border:none;
  background: none;
  outline:none;
  float:left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 50px;
  width: 0px;

}

.searchInput:focus {
  background-color: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;

}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
      width: 150px;
      padding: 0 6px;
    }
  }

  