// Specific CSS for your home-page
@import "../components/globals";

.image-container{
  width: 0 auto;
  height: 400px;
  background-color: pink;
  display: flex;
  justify-content: space-between;
}

.images {
  height: 100%;
  flex-grow: 1;
  img {
    width: 100%;
    height: 100%;
    border: 1px solid white;
  }
}
