<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <nav class="container-fluid">
    <a class="navbar-menu" href="#"><h1>Air<span>Office.</span></h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <%= link_to "Book a Workspace", workspaces_path, class: "btn btn-outline-secondary spacing" %>
        </li>

          
      </div>
      </ul>

  </nav>
</nav>
