.mapboxgl-canvas {

  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  grid-gap: 20px;
  padding: 40px;
  height: fit-content;
  margin-bottom: 4rem;
}

.container-page {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

}


.card-category {
  height: 300px;
  border-radius: 20px;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
}

// .card-category {
//   color: rgb(255, 255, 255);
//   border: none;
//   border-radius: 0.5rem;
//   box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
//   padding-bottom: 1rem;
//   overflow: hidden;
//   background: pink;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
// }

.card-category h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  background-color: transparent;
  text-decoration: none;
}

// .card-category p {
//   font-size: 12px;
//   opacity: .7;
//   margin: 0;
// }

.card-category .card-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    height: fit-content;
    margin-bottom: 4rem;
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    height: fit-content;
    margin-bottom: 4rem;
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    height: fit-content;
    margin-bottom: 4rem;
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    height: fit-content;
    margin-bottom: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    height: fit-content;
    margin-bottom: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
