footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background-color: white;
  text-align: center;
  padding: 0.5rem 0;
  box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.footer-copyright, i{
  color: rgba(0, 0, 0, 0.7);
}
