.card {
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	width: 100%;
  max-width: 522px;
  background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 rgba(#999, .25);
	padding: .75rem;
}

.card-form {
	padding: 2rem 1rem 0;
}

.input-label {
	color: #043249;
}

.input-field {
  border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid #eee;
	font: inherit;
	font-size: 1.125rem;
	padding: .25rem 0;
	&:focus, &:valid {
		outline: 0;
		border-bottom-color: #043249;
		&+.input-label {
			color: #043249;
			transform: translateY(-1.5rem);
		}
	}
}

.form-submit {
  font: inherit;
	font-size: 1.25rem;
	padding: 1em;
	width: 100%;
	font-weight: 500;
	background-color: #043249;
	border-radius: 50px;
	color: #FFF;
  margin: -3px;
	border: 0;
	&:focus {
		outline: 0;
	}
}
